body {
    margin-top: 0px;
    background-repeat: repeat-y;
    background-position: center top;
    width: 200px;
}

#header {
    background: -webkit-linear-gradient(#334c33, #1f2e1f);
    background: -o-linear-gradient(#334c33, #1f2e1f);
    background: -moz-linear-gradient(#334c33, #1f2e1f); 
    background: linear-gradient(#334c33, #1f2e1f); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    box-shadow: 5px 5px 10px black;
    color: white;
}

#center {
    background-color:rgba(236, 236, 236, 0.55);
    background-color: rgba(255, 255, 255, 0.65);
    border: 1px solid #1f2e1f;
    padding: 10px;
    box-shadow: 5px 5px 10px black;
    height: 100px;
    overflow: hidden;
}

#footer {
    background: -webkit-linear-gradient(#1f2e1f, #334c33);
    background: -o-linear-gradient(#1f2e1f, #334c33);
    background: -moz-linear-gradient(#1f2e1f, #334c33); 
    background: linear-gradient(#1f2e1f, #334c33); 
    background-size: cover;
    box-shadow: 5px 5px 10px black;
    margin-bottom: 10px;
    color: white;
    height: 30px;
}

a:link,
a:visited {
    color: #c2efc2;
}

a:hover,
a:active {
    color: #99e6ff !important;
}

p {
    text-indent: 30px;
}